@import '../styles/variables.css';

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.title {
  margin: 0;
  line-height: 1.3;
}

.date {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.content {
  & a {
    color: var(--primary-color);
  }

  & p {
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 0 0 2rem;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    font-size: 1.25rem;
    line-height: 1.2;
    padding: 0 0 0.8125rem;

    &::before {
      content: "•";
      color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}
